body {
  background: url('../images/115ab47f78bf3fce1f070b42e69168b3.jpg') center no-repeat;
}

header {
  text-align: center;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}